<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no" />-->
	<title>Chitty Chat App</title>

	<!-- link libs -->
	<link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />	

	<!-- link to CDN here -->
<!--	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
-->	

	<!-- link css-->
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/style.css" />
	
</head>
<body>

<header class="text-center">
	<h3>chitty chat</h3>
</header>
<div class="container-fluid">
	<section class="row">
		<article id="chatList" class="col-lg-2 col-lg-offset-2">
			<!-- code for list of peeps in chat -->
			<h2>chatters</h2>
			<ul id="chatters">
				<!-- members will dynamically be added here as <li> -->			
			</ul>
		</article>
		<article id="chatRoom" class="col-lg-6">
			<h2>chat log</h2>
			<ul id="chatLog">
				<!-- messages will dynamically be added here as <li> -->
			</ul>
			<input type="text" /><i class="pointer fa fa-pencil-square fa-3x"></i>
		</article>
	</section>
</div>
<!-- load js here -->	
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../socket.io/socket.io.js"></script>	
<script src="../js/script.js"></script>

</body>
</html>
