/* large */
/*@media all and (min-width: 1200px) {

}*/

/* medium */
@media screen and (max-width: 1199px) {
	#chatLogin {
		/*width: 480px;*/
	}
}

/* small */
@media screen and (max-width: 991px) {

}

/* small */
@media screen and (max-width: 767px) {
	#chatLogin {
		width: 400px;
	}
	
	#chatLogin li:hover::after {	
		left: 125px;	/* (400-150) / */ 
	}	
}

@media screen and (max-width: 480px) {
	#chatLogin {
		width: 300px;
	}

	#chatLogin li:hover::after {	
		left: 75px;  /* 300 - 150 / 2 */
	}
}
