/*********** style.css ***********/

/***** for all screens ******/

/* tag definitions */
html, body {

	font-family: "Andale Mono", Monaco, monospace !important;
	/*font-family: "Avant Garde", Verdana, sans-serif;*/
}

img {	
	/*display: inline-block;*/
	width: 80px;
	height: 80px;
	margin: 0 10px;
	box-shadow: 0 3px 5px #ACACAC;
	/*border: 3px solid rgba(0,0,0,0);*/
}


/* class definitions */
.pointer {
	cursor: pointer;
}

.selected {
	background-color: #000;
}

.inactive {
	opacity: .5;
	cursor: inherit;
}

/* index page */
body > header {
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: #000;
	color: #FFF;
	padding: 2px 0;
	box-shadow: 0 3px 7px #ACACAC;
	z-index: 100;
}

.container-fluid > section {
	margin-top: 50px;
	margin-bottom: 65px; 
}

/***** login screen *****/

#chatLogin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 400px;
	width: 480px;
	padding: 0;
	box-shadow: 0 0 35px 5px rgba(0,0,0,.25);
	font-size: 1.2em;
	/*font-variant: small-caps;*/
}

/*
#chatLogin li:hover::after {
	position: absolute;
	bottom: 250px;
	width: 100px;
	height: 30px;
	content: attr(data-name);
	background-color: #FFF;

	font-variant: normal;
}
*/

#chatLogin > div:first-of-type, #chatLogin > div:last-of-type {
	height: 120px;
	background-color: rgba(88,172,250,1);
	color: #000;
}

#chatLogin > div:first-of-type {
	padding: 22px 10px;
}

#chatLogin > div:nth-of-type(2) {
	height: 160px;
	padding: 10px 0;
	background-color: #FAFAFA;
	/*box-shadow: inset 0 -3px 5px #ACACAC, inset 0 3px 5px #ACACAC;*/
}

#chatLogin > div:last-of-type {
	/*box-shadow: 0 -3px 5px #ACACAC;*/
}

#chatLogin #username {
	background-color: #FAFAFA;
	border: none;
	height: 40px;
	padding: 5px 10px;
	font-variant: normal;
	margin: 20px 0;
	vertical-align: top;
}

#chatLogin ul {
	margin: 21px 0;
	height: 98px;
}

#chatLogin li {
	display: inline-block;
	width: 100px;
}

/*	pop-up triangle
#chatLogin li:hover::before { 
	position: absolute;
	border: solid;
	border-color: rgba(0,0,0,.5) transparent;
	border-width: 0 6px 6px 6px;
	margin: 92px 0 0 -6px;
	content: "";
}
*/

#chatLogin li:hover::after {
	position: absolute;
	content: attr(data-popup);
	/*margin-left: -75px;*/
	width: 150px;	
	padding: 5px 0;
	background-color: rgba(0,0,0,.5);
	color: #FFF;
	
	display: block;
	/*left: 165px;	/* (480-150)/2 = 175 */
	left: 34.375%;
}

#chatLogin li div {
	height: 5px;
	width: 70px;
	margin: 10px 15px 0;
	/*background-color: green;*/
}

#chatLogin button {
	width: 100px;
	height: 50px;
	background-color: #FAFAFA;
	text-decoration: none;
	border: none;
	margin: 35px 0;
}


/***** chat page *****/

#chatPage {
	display: none;
}

#chatRoom > h2 {
	margin-bottom: 10px;
}

#chatters {
	margin: 10px 0;
}

#chatters li {
	opacity: .75;
	padding: 5px 10px;
	font-size: 1.3em;
}

.online {
	opacity: 1.0 !important;
	font-weight: bold;
}

.chatLog img, .chatLog div {
	display: inline-block;
}

.send, .receive {
	clear: both;
	margin: 5px 0;
	/*display: none;*/
}

.chatLog {
	margin-top: 20px;
}

.chatLog div {
	background-color: #FAFAFA;
	min-height: 80px;
	height: auto;
	padding: 5px;
	box-shadow: 0 3px 5px #ACACAC;
	vertical-align: top;
}

.chatLog div i {
	min-width: 150px;
	width: 100%;
}

.chatLog div pre.textContent {
	background-color: inherit;
	min-width: 150px;
	width: auto;
	max-width: 500px;
	/*min-height: 28px;*/
	padding: 5px 25px;
	word-wrap: break-word;
}

.chatLog div p.textName {
	display: block;
	padding-top: 3px;
	font-size: .8em;
	font-style: italic;
	/*color: rgb(88,172,250);*/
}

.chatLog li .cornerSend {
	position: relative;
	top: 16px;
	width: 0;
	height: 0;
	border-top: 15px solid #FAFAFA;
	border-right: 25px solid transparent;
	vertical-align: top;
	/*margin-top: 10px;*/
	/*box-shadow: 0 3px 3px 3px #ACACAC;*/	
}

.chatLog li .cornerReceive {
	position: relative;
	top: 16px;
	width: 0;
	height: 0;
	border-top: 15px solid #FAFAFA;
	border-left: 25px solid transparent;
	vertical-align: top;
}

.admin {
	background-color: #FFF;
	clear: both;
	margin: 10px 0;
	color: red;
}

#scrollBtn {
	display: none;
	position: fixed;
	bottom: 75px;
	right: 50px;
}

/*
#scrollBtn:hover:before {
	content: "top";
	font-size: .5em;
	right: 75px;
}
*/ 

/*****  chat input *****/

body > footer {
	position: fixed;
	bottom: 0;
	background-color: rgb(88,172,250);
	width: 100%;
	z-index: 100;
	display: none;
	
	/* test transition */
	height: 56px;
	-webkit-transition: height .25s;
	-moz-transition: height .25s;
	transition: height .25s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

body > footer:hover {
	height: 150px;
}

footer > section {
	margin: 20px 0;
	
	/*test*/
	display: none;
}

footer > i {
	margin: 0 auto;
}

footer section > div {
	display: inline-block;
	width: 48px;
	height: 112px;
	margin: 0 5px;
}

footer textarea {
	border: none;
	resize: none;
	height: 112px;
	padding: 5px 10px;
	width: 300px;
	vertical-align: top;
	box-shadow: 0 3px 5px #424242;
}

footer section i:hover:after {
	position: absolute;
	content: attr(data-popup);
	font-size: .4em;
	background-color: rgba(0,0,0,.75);
	color: #FFF;
	padding: 5px;
	margin: -40px 0 0 -149px;
	width: 250px;
}


/***** animations *****/
.unread {
/*
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
*/
	animation: blink 2s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation: blink 2s infinite;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes blink {
	0%		{background-color: #FFF;} 
	50% 	{background-color: #DDD;}
	100% 	{background-color: #FFF;}
}

@-webkit-keyframes blink {
	0% 		{background-color: #FFF;} 
	50% 	{background-color: #DDD;}
	100% 	{background-color: #FFF;}
}
