/*********** style.css ***********/

/***** for all screens ******/

/* tag definitions */
html {

	font-family: "Andale Mono", Monaco, monospace;
	/*font-family: "Avant Garde", Verdana, sans-serif;*/
}

img {	
	width: 80px;
	height: 80px;
	margin: 0 10px;
	box-shadow: 0 3px 5px #ACACAC;
	/*border: 3px solid rgba(0,0,0,0);*/
}

/* class definitions */
.pointer {
	cursor: pointer;
}

/* index page */
body > header {
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: #000;
	color: #FFF;
	padding: 2px 0;
	box-shadow: 0 3px 7px #ACACAC;
	z-index: 100;
}

.container-fluid > section {
	margin-top: 50px;
}

/***** login screen *****/

#chatLogin {
/*
	position: relative;
	top: 50%; 	
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 400px;
	padding: 0;
	box-shadow: 0 7px 10px #ACACAC;

	font-size: 1.2em;
	font-variant: small-caps;
}


#chatLogin div:first-child, #chatLogin div:last-child {
	height: 120px;
	background-color: rgba(88,172,250,1);
	color: #000;
}

#chatLogin div:first-child {
	padding: 22px 10px;
}

#chatLogin div:nth-child(2) {
	height: 160px;
	padding: 10px 0;
	background-color: #FAFAFA;
	/*box-shadow: inset 0 -3px 5px #ACACAC, inset 0 3px 5px #ACACAC;*/
}

#chatLogin div:last-child {
	/*box-shadow: 0 -3px 5px #ACACAC;*/
}

#chatLogin input {
	background-color: #FAFAFA;
	border: none;
	height: 40px;
	margin-top: 10px;
	padding: 5px 10px;
	font-variant: normal;
}

#chatLogin ul {
	margin: 10px 0;
}

#chatLogin li {
	display: inline;
}

#chatLogin img:hover {
	/*border: 3px solid rgba(88,172,250,1);*/
}

#chatLogin button {
	width: 100px;
	height: 50px;
	background-color: #FAFAFA;
	text-decoration: none;
	border: none;
	margin: 25px 0;
}

/***** chat page *****/

#chatPage {
	display: none;
}

#chatLog img, #chatLog div {
	display: inline-block;
}

.send, .receive {
	clear: both;
	margin: 5px 0;
}

#chatLog div {
	min-height: 80px;
	height: auto;
	box-shadow: 0 3px 5px #ACACAC;
	vertical-align: top;
}

#chatLog p {
	min-width: 150px;
	width: auto;
	max-width: 500px;
	padding: 5px 10px;
	word-wrap: break-word;
}

#chatRoom textarea {
	resize: none;
}

.admin {
	clear: both;
	margin: 5px 0;
	color: red;
}

/* large monitors */
@media all and (min-width: 1200px) {

}

/* computers */
@media all and (min-width: 992px) and (max-width: 1199px) {

}

/* tablets */
@media all and (min-width: 768px) and (max-width: 991px) {

}

/* phones */
@media all and (max-width: 767px) {

}
